@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    border: 0;
}

body {
    margin: 0;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: 1em;
    font-weight: 500;
}

h1, h2, h3 {
    display: inline-block;
    margin: 1em 0;
}

a {
    color: blue;
}

a:visited {
    color: red;
}

body {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto 100vh auto;
    grid-template-areas:
            "header header"
            "breadcrumb breadcrumb"
            "sidebar main"
            "footer footer";
}

#sidebar, #content, #footer {
    padding: 2em;
}

.button {
    padding: 1em 1.5em;
    border-radius: 1.6em;
    font-weight: 600;
    color: blue;
    background-color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button.reverse {
    background-color: blue;
    color: white;
}

input.button:not(:disabled) {
    cursor: pointer;
}

input:disabled.button {
    background-color: lightgray;
    color: gray;
}

/*------------STILE HEADER------------ */

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    grid-area: header;
    padding: 1em;
    color: white;
    background-color: blue;
}

#title > h1 {
    margin: 0;
}

#search {
    position: relative;
    width: 40%;
    border-bottom: 1px solid white;
}

#search-label {
    display: block;
    width: 100%;
    visibility: hidden;
    font-size: .75em;
}

#search-input {
    width: 75%;
    background-color: blue;
    color: white;
    caret-color: white;
}

#search-input::placeholder {
    color: white;
    opacity: 1;
}

#search-submit {
    position: relative;
    bottom: -1em;
    width: 23%;
    padding: .1em 0;
}

#search-submit > input {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .5em;
    background-color: white;
    color: blue;
    border-radius: .5em;
    cursor: pointer;
}

#search-input, #search-submit {
    display: inline-block;
}

#login, #signup {
    display: inline-block;
}

#login {
    padding: 1em 2em;
}

/*------------FINE STILE HEADER------------*/

/*------------STILE BREADCRUMB------------*/

#breadcrumb {
    grid-area: breadcrumb;
    padding: 0 1em;
    color: blue;
}

/*------------FINE STILE BREADCRUMB------------*/

/*------------STILE SIDER------------*/

#sidebar {
    grid-area: sidebar;
    border-image: linear-gradient(white 10%, blue 50%, white 90%) 1 100%;
    border-right: 1px solid;
}

#sidebar > * {
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 1em;
}

#categories {
    color: white;
    background-color: blue;
}

#categories ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: blue;
    font-weight: 600;
}

#categories li {
    margin: 1em 0;
    padding: 1em;
    border-radius: .5em;
    background-color: white;
}

/*------------FINE STILE SIDER------------*/

/*------------STILE MAIN------------*/

#content {
    grid-area: main;
    padding: 2em 4em;
}

#content > div {
    height: 100%;
    overflow-y: scroll;
}

/*------------FINE STILE MAIN------------*/

/*------------STILE FOOTER------------*/

#footer {
    grid-area: footer;
    background-color: blue;
    color: white;
}

/*------------FINE STILE FOOTER------------*/

/*------------STILE LOGIN e SIGNUP------------*/
form .submit {
    width: 80%;
    margin: 1rem auto;
  }

#signup {
    color: blue;
    background-color: white;
}

#signup form, #login form  {
    height: 100%;
    width: 480em;
    padding: 3em;
    background-color: white;
    border-width: 1em;
    border-radius: 1em;
}
/*------------FINE STILE LOGIN e SIGNUP------------*/

/*------------STILE PAGINA ERRORE---------------*/

#error404{
 background-color: blue;
 color: white;

}
#error404 a{
 color:white;
}
/*------------FINE STILE PAGINA ERRORE---------------*/
