body {
    grid-template-areas:
            "header header"
            "breadcrumb breadcrumb"
            "main main"
            "footer footer";
}

#content {
    padding: 6em;
    background:
            radial-gradient(ellipse at top right, darkblue 50%, transparent),
            radial-gradient(ellipse at bottom left, blue 50%, transparent);
}

#content > #login-container {
    width: 60%;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    border-radius: 1em;
}

#login-form {
    padding: 2em 10%;
    height: 100%;
}

#login-form > fieldset {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    text-align: center;
}

#login-form label { display: block; }

#login-form input::placeholder { text-align: center; }

.credentials > * { margin: 1em 0; }