#head {
    padding: 0 1em;
    margin-bottom: 1em;
    border: 1px solid blue;
    border-radius: 1em;
}

#head h2 {
    width: 100%;
    text-align: center;
}

#body {
    min-height: 100%;
    padding: 1em;
    background-color: blue;
    border-radius: 1em 1em 0 0;
}

#form {
    position: sticky;
    bottom: 0;
    background-color: blue;
    padding: 0 3em;
}

#form form, .reply-form form {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    padding: 1em 0;
    border-top: 1px solid white;
}

#form textarea, .reply-form textarea {
    width: 60%;
    height: 4em;
    padding: .5em;
    border-radius: .5em;
    resize: none;
}

.author, .date {
    font-size: .75em;
    color: lightslategray;
}

.comment-container { border-radius: .5em; }

.comment-container.left {
    padding: .5em 0 0 .5em;
    background-image: linear-gradient(to right, navy 50%, blue);
}

.comment-container.right {
    padding: .5em .5em 0 0;
    background-image: linear-gradient(to left, navy 50%, blue);
}

.comment {
    width: 75%;
    padding: 0.001em 1em;
    margin-bottom: 1em;
    background-color: white;
    border-radius: 1em;
}

.reply {
    width: 75%;
    padding: 0.002em .75em;
    font-size: .8em;
    background-color: white;
    border-radius: .75em;
}

.reply p { margin: .5em 0; }

.replies {
    width: 75%;
    margin-bottom: 1em;
}

.replies.left .reply {
    margin: 0 0 1em 1em;
}

.replies.right .reply {
    margin: 0 1em 1em auto;
}

.comment.left, .replies.left {
    margin: 0 auto 1em 0;
}

.comment.right, .replies.right {
    margin: 0 0 1em auto;
}

.replies.right .reply-form form {
    justify-content: flex-end;
}

.replies.left .reply-form form {
    justify-content: flex-start;
}